.container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 800px;

    @media screen and (max-width: 720px) {
        padding: 1rem;
        max-width: none;
    }
}

.dashboard-header {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

.dashboard-header h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.dashboard-header p {
    font-size: 1.25rem;
    color: var(--text-color);
}

section>h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#settings, #widgets {
    --table-background-odd: #f2f2f2;
    --table-background-even: #f9f9f9;
}


table#widgets-list {
    margin: 1rem 0;
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    border-spacing: 0;
    overflow: hidden;
    text-align: center;

    /* Differenciate the color between two consecutive row */
    tbody tr:nth-child(odd) {
        background-color: var(--table-background-odd);
    }
    tbody tr:nth-child(even) {
        background-color: var(--table-background-even);
    }

    thead tr{
        background-color: var(--color-primary);
        color: white;
    }

    td>* {
        width: 100%;
    }
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], select, textarea {
    width: 100%;
}