---
import BasePage from "../../layouts/BasePage.astro";
import "./_index.css";

/* Components */
import Settings from "../../components/dashboard/settings/Settings.tsx";

/* Widgets */
import { DonationPot } from "../../components/pot/DonationPot";
import { DragAndDrop, type DragAndDropProps } from "../../components/common/DragAndDrop";
import { Tchat } from "../../components/tchat/Tchat";
import Editor from "../../components/dashboard/editor/Editor";


const title = "Dashboard - TNEvent Widgets";
---

<BasePage title={title}>
    <header class="dashboard-header container">
        <h1>Dashboard</h1>
        <p>Dashboard is there to help you create and manage the overlays.</p>
    </header>
    <section class="container" id="settings">
        <Settings client:load></Settings>
    </section>
    <section class="container" id="widgets">
        <h2>Widgets</h2>
        <table id="widgets-list">
            <thead>
                <tr>
                    <th>Enable</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" id="widget1-enable" /></td>
                    <td>Main Tchat</td>
                    <td>Tchat</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="widget2-enable" /></td>
                    <td>Global Donations</td>
                    <td>DonationPot</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="widget3-enable" /></td>
                    <td>Team Donations</td>
                    <td>DonationPot</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="widget4-enable" /></td>
                    <td>Sponsors</td>
                    <td>Sponsors</td>
                    <td>
                        <button class="btn-edit">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section id="editor">
        <h2>Editor</h2>
        <Editor client:load></Editor>
    </section>
</BasePage>