.widget {
    color: #000;

    border-radius: 0.5rem;
    padding: 1em;

    position: relative;
}

.label {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.content {
    margin-top: 0.25em;
    padding: 0.5em;
    border: 0.125em solid;
    border-radius: 2rem;

    border-color: rgb(97,50,145);
    background-color: rgba(97,50,145, 0.1);

    :last-child {
        margin-bottom: 0;
    }

    :first-child {
        margin-top: 0;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0.5em 0em;

    max-width: 16em;

    border-radius: 0.5em;
    background-color: rgba(97, 70, 252, 0.2);

    :last-child {
        margin-bottom: 0.125em;
    }
}

.author {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    background-color: rgb(97,50,145);
    color: #fff;

    width: fit-content;

    .authorName {
        font-weight: 600;
        font-size: 0.75em;
    }
}

.text {
    margin: 0.125em 0.4em;

    .messageText {
        font-size: 0.75em;
    }
}
