.widget {
    color: #000;

    border-radius: 0.5rem;
    padding: 1em;

    position: relative;
}

.label {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.content {
    display: flex;
    flex-flow: column-reverse;

    margin-top: 0.25em;
    padding: 0.5em;
    border: 0.125em solid;
    border-radius: 2rem;

    border-color: rgb(97,50,145);
    background-color: rgba(97,50,145, 0.1);

    overflow-y: hidden;
    width: 16em;
    height: 12em;
}

.message {
    display: block;
    margin: 0.25em 0em;
    max-height: 0;

    border-radius: 0.5em;
    background-color: rgba(97, 70, 252, 0.2);
    //min-height: 1.5em;

    transform-origin: top;
    animation: appearIn 0.5s ease-out forwards;
}

.message.seen {
    animation: disappearOut 0.5s ease-in forwards;
    overflow: hidden;
}

.author {
    float: left;
    padding: 0.2em 0.5em 0em;
    margin-right: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(97,50,145);
    color: #fff;

    width: fit-content;

    .authorName {
        margin: 0.2em 0;
        font-weight: 600;
        font-size: 0.75em;
    }
}

.text {
    margin: 0.2em 0.4em 0;
    display: block;
}

.messageText {
    display: block;
    font-size: 0.75em;
    line-height: 1.7em;
}

/* Animation - Element appears by increasing its size from zero */
@keyframes appearIn {
    from {
        opacity: 0;
        max-height: 0;
        transform: translateY(100%);
    }
    to {
        max-height: 8em;
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation - Element disappears by decreasing its size to zero */
@keyframes disappearOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }
}