@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}